<html>
<head>
    <title>Rob's webpage</title>
</head>
<body>
        <p>Hi there!</p>
        <p>By logging into this website you acknowledge that your boyfriend</p>
        <p>
            <strong>Loves you the most</strong>
        </p>
        <p>You also owe him a soda</p>
        <p>End.</p><br><br>
      
        <p><br>*******************************************************<br></p>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
        
          <p>----------------------------------------------------------</p><br><br>
        <p><strong>Testing different things below:</strong></p>
        <a href='https://www.google.com.au'>Link To Google</a>
        <div>
        <strong>Bold emphasis</strong><br>
        <em>OOOH SPOOKY EMPHASIS</em><br>
        </div>
        <h1>Big mega heading</h1>
        <h2>The second biggest heading</h2>
        <h3>Slightly bigger heading</h3>
        <h4>Heading size 4</h4>
        <h5>Heading size 5</h5>
        <h6>Smallest heading</h6>
        <ul><li>First thing</li><li>Second thing</li></ul>
</body>
</html>